.badges-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .ui-badge {
    min-height: 100px;
  }
}

// STYLES ONLY FOR TOTAL BADGE LIST
.total-badges-list {
  .more-info-btn {
    display: none;
  }
  .badges-container {
    .gray-filter {
      filter: grayscale(100%) brightness(1.2);
    }
  }
}

.ui-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  > img {
    width: 40px;
    margin-bottom: 20px;
  }
  i {
    font-size: 12px;
    position: relative;
    z-index: 100;
    color: #ffa600;
    bottom: 20px;
    @media (min-width: 700px) {
      font-size: 18px;
    }
  }
}


.badges-ui-card {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  width: fit-content;
  // margin: 15px;
  // padding: 10px;
}

.badges-ui-card img {
  height: 100px;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

.badges-ui-card p {
  margin: 10px;
  font-weight: bold;
  margin: 10px;
  width: 100px;
}

.badge-flex-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 5px;
  margin-top: 20px;
}

.badge-ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 5px;

}

@media (max-width: 700px) {
  .badges-ui-card img {
    height: 50px;
  }
}
